.reset-icon {
    background-image: url("../images/reset-icon.png");
    background-size: 40px;
    background-position-x: -4px;
}

.roll-icon {
    background-image: url("../images/roll-icon.png");
    background-size: 28px;
    background-position-x: 1px;
    background-position-y: 2px;
}

.roll-icon, .reset-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.logo {
    background-image: url("../images/logo.png");
    background-size: 200px;
    width: 200px;
    height: 70px;
    background-repeat: no-repeat;
}

.roll-icon:hover, .reset-icon:hover, .size-btn:hover {
    background-color: rgb(245,245,245);
}

.size-container {
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    box-shadow: none;
    background-clip: padding-box;
    cursor: pointer;
    display: block;
}

.size-container div:last-child {
    border-bottom: none;
}

.size-btn {
    height: 30px;
    line-height: 30px !important;
    width: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font: bold 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;    
    color: black;
    background-clip: padding-box;
}

.size-btn.selected {
    background-color: #E0E0E0;
}

.help-text {
    width: 280px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    box-shadow: none;
    background-clip: padding-box;
    font: 14px 'Helvetica Neue', Arial, Helvetica, sans-serif;   
    color: black;
    text-align: center;
    line-height: 14px;
    padding: 10px;
}

.help-text p {
    margin: 0 0 10px 0;
}

.help-text p:last-child {
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

#attribution {
    width: 200px;
    font: 10px 'Helvetica Neue', Arial, Helvetica, sans-serif;   
    line-height: 10px;
    text-align: center;
    color: black;
}

body {
    margin: 0;
    background: #ddd;
}